*{
font-family: Helvetica, sans-serif;
box-sizing: border-box;
margin: 0;
}

header{
    background-color: rgb(63, 60, 60);
    text-align: center;
    color:· fff;
    padding: 0.2em;
    font-size: 2em;

}

body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
main {
    max-width: 80rem;
    height: auto;
    margin: auto;
    margin-bottom: 15px;
}
label, input, select,button {
    margin: 5px;
}

li{
    display: list-item;
}

.dark {
    color: #fff;
    background-color: #343a40;
}

.light {
    color: rgba(0,0,0,.9);
    background-color: #f8f9fa;
}

.alig-right {
   margin-right: 0;
}


.alig-left {
    margin-right: auto;
}

.navbar {
    max-width: 80rem;
    margin: auto;
    margin-bottom: 20px;
    position: relative;
    flex-wrap:  flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.navbar-collapse {
    display: flex;
    flex-basis: auto;
    flex-grow: 1;
    justify-content: center;

}

.navbar-nav {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
    list-style: none;
}

.nav-link {
    color: inherit;
    display: block;
    padding: .5rem 1rem;
    text-decoration: none;
    background-color: transparent;
}

.copyright {
    font-size: 0.8rem;
}

.display {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 2fr 1fr 1fr 1fr;
}

.form-container {
    border-radius: 0.5em;
    min-width: 200px;
    padding: 50px 20px;
    margin: 10px;

}

.form-cart{
    grid-column: 2;
    grid-row: 1/5;
}
