*{
font-family: Helvetica, sans-serif;
box-sizing: border-box;
margin: 0;
}

body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
main {
    max-width: 80rem;
    height: auto;
    margin: auto;
    margin-bottom: 15px;
}
label, input, select,button {
    margin: 5px;
}

label {
    display: inline-block;
    cursor: default;
}

li{
    display: list-item;
}

.dark {
    color: #fff;
    background-color: #343a40;
}

.light {
    color: #212529;
    background-color: #f8f9fa;
}

.alig-right {
   margin-right: 0;
}


.alig-left {
    margin-right: auto;
}

.navbar {
    max-width: 80rem;
    margin: auto;
    margin-bottom: 20px;
    position: relative;
    flex-wrap:  flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.navbar-collapse {
    display: flex;
    flex-basis: auto;
    flex-grow: 1;
    justify-content: center;

}

.navbar-nav {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
    list-style: none;
}

.nav-link {
    color: inherit;
    display: block;
    padding: .5rem 1rem;
    text-decoration: none;
    background-color: transparent;
}

.copyright {
    font-size: 0.8rem;
}

.display {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 2fr 1fr 1fr 1fr;
}

.form-container {
    border-radius: 0.5em;
    border: solid #dee2e6;
    border-width: 1px;
    min-width: 200px;
    padding: 50px 20px;
    margin: 10px;

}

.mb-3 {
    margin-bottom: 1rem;
    display: flex;
}

.form-cart{
    grid-column: 2;
    grid-row: 1/5;
}

.form-label{
    margin-bottom: 0.5em;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: .25rem;
}

.input-group-text{
    display: flex;
    align-items: center;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.input-group>.form-control{
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
}

.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.btn {
    color: #fff;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    border-radius: .25rem;
    padding: .375rem .75rem;
    font-size: 1rem;
    transition: 
        color .15s ease-in-out,
        background-color .15s ease-in-out,
        border-color .15s ease-in-out,
        box-shadow .15s ease-in-out;
}

.btn-primary {

    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;

}

.btn-primary:active {
    background-color: #0a58ca;
    border-color: #0a53be;

}
